@model ML.SuperDigito
@{
    ViewBag.Title = "Calcular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!DOCTYPE html>
    <head>
        <title>Bootstrap 3 simple login form free template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="login">
            <div class="account-login">
                <br />
                <br />
                <h2>Calcular</h2>
                <hr />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="form-signin-heading text-muted">Súper dígito</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="hidden">
                        @Html.LabelFor(model => model.Usuario.IdUsuario)
                        @Html.TextBoxFor(model => model.Usuario.IdUsuario, new { @class = "hidden", id = "txtIdUsuario" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Usuario.Nombre)
                        @Html.TextBoxFor(model => model.Usuario.Nombre, new { @readonly = "readonly", id = "txtNombre" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Usuario.ApellidoPaterno)
                        @Html.TextBoxFor(model => model.Usuario.ApellidoPaterno, new { @readonly = "readonly", id = "txtApellidoPaterno" })
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Usuario.ApellidoMaterno)
                        @Html.TextBoxFor(model => model.Usuario.ApellidoMaterno, new { @readonly = "readonly", id = "txtApellidoMaterno" })
                    </div>

                </div>
                <br />


                @using (Html.BeginForm("Calcular", "SuperDigito", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Numero)
                            @Html.TextBoxFor(model => model.Numero, new { @class = "form-control form-control-lg", id = "txtNombre" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <input type="submit" value="Calcular" class="btn btn-success" />
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-danger"  href="@Url.Action("DeleteHistorial", "SuperDigito")" onclick="return confirm('¿Seguro que deseas eliminar el histrorial?');">Borrar todo</a>
                        </div>
                    </div>


                    <hr />
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <td>Número</td>
                                <td>Resultado</td>
                                <td>Fecha</td>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ML.SuperDigito historial in Model.Historiales)
                            {
                                <tr>
                                    <td>@historial.Numero</td>
                                    <td>@historial.Resultado</td>
                                    <td>@historial.Fecha</td>
                                    <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("DeleteHistorialById", "SuperDigito", new { numero = historial.Numero })" onclick="return confirm('¿Seguro que deseas eliminar el resultado?');"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />

                }
                <div class="row">
                    <div class="col-md-2">
                        <input class="btn btn-danger" type="button" value="Cerrar sesión" onclick="location.href='@Url.Action("LoginInicio", "Login")'" />
                    </div>
                </div>
            </div>
        </div>
    </body>


<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;
    }

    .login {
        background: linear-gradient(to bottom, #0099ff 0%, #fff 100%);
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .account-login {
        width: 500px;
    }

    .form-control:focus {
        box-shadow: none;
    }

    p a {
        padding-left: 2px;
    }

    .account-login h1 {
        font-size: 25px;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 5px;
    }

    .login-form input {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #a39e9e;
        padding: 0;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        box-shadow: none;
        height: 63px;
        border-radius: 0px;
    }

    .login-form {
        background: #fff;
        float: left;
        width: 100%;
        padding: 40px;
        border-radius: 5px;
    }

    button.btn {
        width: 100%;
        background: #009cff;
        font-size: 20px;
        padding: 11px;
        color: #fff;
        border: 0px;
        margin: 10px 0px 20px;
    }

    .btn:hover {
        color: #fff;
        opacity: 0.8;
    }

    p {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .remember {
        float: left;
        width: 100%;
        margin: 10px 0 0;
    }
    /* Customize the label (the container) */
    .custom-checkbox {
        display: block;
        position: relative;
        padding-left: 27px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 13px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: normal;
        padding-top: 2px;
        float: left;
    }
        /* Hide the browser's default checkbox */
        .custom-checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        /* Create a custom checkbox */
        .custom-checkbox .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #bfbcbc;
        }
        /* On mouse-over, add a grey background color */
        .custom-checkbox:hover input ~ .checkmark {
            background-color: #747474;
        }
        /* When the checkbox is checked, add a blue background */
        .custom-checkbox input:checked ~ .checkmark {
            background-color: #2196F3;
        }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .custom-checkbox input:checked ~ .checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .custom-checkbox .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
